*{
    margin:0;
    padding:0%;
    box-sizing: border-box;
    font-family:Helvetica,Arial,sans-serif;
}
body {
    background-color:rgb(237, 247, 247);
}
header img{
    height: 35px;
}
header {
    background-color:rgb(3, 101, 133)/*rgb(209, 45, 45) */;            
    /* display: flex; */
    font-size: 30px;
    /* color:White; */
    padding-left: 148px;
    padding-top: 6px;
    font-family:Helvetica,Arial,sans-serif;
    height: 48px;
}
#max {
    margin-top: 200px;
    background-color: white;
    margin-left: 575px;
    margin-right: 575px;
}
#login , #signup {
    border: 1px solid rgb(195, 190, 190);
    /* outline: 1px solid black; */
    /* background-color: aqua; */
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center;
}
#signup {
    font-size: 14px;
    padding-top: 25px;
    /* padding-bottom: 25px; */
}
/* #login p{
    font-size: 20px;
} */
#login #p1 {
    font-size: 30px;
    margin-bottom: 30px;
}
#login input{
    text-align: center;
    height: 40px;
    font-size: 15px;
    border: 1px solid rgb(195, 190, 190);
    border-radius: 5px;
}
#login input[type=text] , input[type=password] {
    margin-bottom:5px;
    width: 250px;
}
/* #login input[type=password]{
    margin-bottom:20px;
    width: 250px;
} */
#login input[type=button] {
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    background-color:rgb(3, 101, 133) ;
    color: white;
    height: 35px;
    width: 100px;
}
#login input[type=button]:hover {
    background-color: rgb(3, 79, 104);
}
#login input::placeholder{
    text-align: center;
}
/* #signup {
    background-color: aqua;
    border: 1px solid rgb(162, 135, 135);
    border-radius: 5px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
} */
#signup a {
    text-decoration: none;
}